@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [body]{
        width: 50%;
    }
    [class*="container"] {
        width: 50%;
      }
      [class*="outside"] {
        padding-right: 40px;
    padding-left: 40px;
      }
}
.container {
    display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
height: auto;
width: auto;
margin-left: auto;
margin-right: auto;
background-color:white ;
border-radius: 15px;
box-sizing: border-box;
padding-top: 20px;
padding-left: 20px;
padding-right: 20px;
padding-bottom: 20px;
}
body{
   font-family:outfit;
    background-color: hsl(212, 45%, 89%);
}
.attribution{
    background-color: hsl(212, 45%, 89%);
}
.outside{
    margin-bottom: 200px;
    margin-top: 200px;
    background-color: hsl(212, 45%, 89%);

}
img{
border-radius: 10px;

}

p{font-size: 15px;
    color: rgb(83, 83, 101);
    justify-content: first baseline;
}
div{
    background-color:white;
    display: flex;
    flex-direction: column;
    justify-content: first baseline;
    align-items: flex-start;
}
.attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); }