@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [body]{
        min-width: 360px;
        max-width: 768px
    }
    [class*="container"] {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: auto;
        width: auto;
        margin-left: auto;
        margin-right: auto;
        background-color: white;
        border-radius: 15px;
        box-sizing: border-box;
        padding-top: 20px;
        padding-bottom: 20px
      }
      [img]{
        height: 150px;
        width: 150px;
      }

}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* height: 350px; */
    /* width: 350px; */
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    border-radius: 15px;
    box-sizing: border-box;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}
body{
   font-family:outfit;
    background-color: hsl(212, 45%, 89%);
    /* height: 200px; */
}
.attribution{
    background-color: hsl(212, 45%, 89%);
}
.outside{
    /* margin-bottom: auto; */
    /* margin-top: auto; */
    background-color: hsl(212, 45%, 89%);
    /* height: 250px; */
    padding-top: 25px;
    padding-bottom: 70px;
    /* width: 250px;*/
}
img{
border-radius: 10px;

}
h1{
    font-size: 25px;
    margin: 5px 0px;
}

p{font-size: 15px;
    color: rgb(83, 83, 101);
   text-align: center;
   justify-content:center;
  display: flex;
  margin: 5px 0px;
}
div{
    background-color:white;
 display: flex;
    flex-direction: column;
}
footer{
    margin-top: 10px;
}
.attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); }